[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
boto3 = "*"
pandas = "*"
pydantic = "*"
awswrangler = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
